In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [ ]:
import pandas as pd

# Load the Excel file
df = pd.read_excel("housing.xlsx")  # change filename if different

# Preview first 5 rows
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [ ]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [ ]:
X = df.drop('median_house_value', axis=1)  # all columns except target
y = df['median_house_value']               # target column

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
X = df.drop('median_house_value', axis=1)
y = df['median_house_value']

# To check what X looks like
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41,880,129.0,322,126,8.3252,False,False,True,False
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,False,False,True,False
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,False,False,True,False
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,False,False,True,False
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,False,False,True,False

In [ ]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (16512, 12)
X_test shape: (4128, 12)
y_train shape: (16512,)
y_test shape: (4128,)

In [ ]:
from sklearn.preprocessing import StandardScaler

# Initialize scaler
scaler = StandardScaler()

# Scale features
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

# Initialize models
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(alpha=1.0),
    "Decision Tree": DecisionTreeRegressor(random_state=42)
}

# To store results
results = []

for name, model in models.items():
    if name in ["Linear Regression", "Ridge Regression"]:
        # Use scaled data
        model.fit(X_train_scaled, y_train)
        y_train_pred = model.predict(X_train_scaled)
        y_test_pred = model.predict(X_test_scaled)
    else:
        # Use original data for tree
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

    # Compute metrics
    train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
    test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
    test_mae = mean_absolute_error(y_test, y_test_pred)

    results.append([name, train_rmse, test_rmse, test_mae])

In [ ]:
import pandas as pd

comparison = pd.DataFrame(results, columns=["Model", "Train RMSE", "Test RMSE", "Test MAE"])
comparison

               Model    Train RMSE     Test RMSE      Test MAE
0  Linear Regression  68433.937367  70060.521845  50670.738241
1   Ridge Regression  68433.944757  70057.416870  50668.122931
2      Decision Tree      0.000000  69755.779954  44180.854409

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
import pandas as pd

# Models
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(alpha=1.0),
    "Decision Tree": DecisionTreeRegressor(random_state=42)
}

# To store results
results = []

for name, model in models.items():
    if name in ["Linear Regression", "Ridge Regression"]:
        # Use scaled data
        model.fit(X_train_scaled, y_train)
        y_train_pred = model.predict(X_train_scaled)
        y_test_pred = model.predict(X_test_scaled)
    else:
        # Decision Tree does not need scaling
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

    # Compute metrics
    train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
    test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
    test_mae = mean_absolute_error(y_test, y_test_pred)

    results.append([name, train_rmse, test_rmse, test_mae])

# Comparison Table
comparison = pd.DataFrame(results, columns=["Model", "Train RMSE", "Test RMSE", "Test MAE"])
comparison

               Model    Train RMSE     Test RMSE      Test MAE
0  Linear Regression  68433.937367  70060.521845  50670.738241
1   Ridge Regression  68433.944757  70057.416870  50668.122931
2      Decision Tree      0.000000  69755.779954  44180.854409

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
y_test_pred = rf.predict(X_test)

train_rmse = np.sqrt(mean_squared_error(y_train, rf.predict(X_train)))
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
test_mae = mean_absolute_error(y_test, y_test_pred)

print("Random Forest")
print("Train RMSE:", train_rmse)
print("Test RMSE:", test_rmse)
print("Test MAE:", test_mae)

Random Forest
Train RMSE: 18118.41409793656
Test RMSE: 49038.20933848149
Test MAE: 31639.373406007748

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Train Random Forest
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
y_train_pred_rf = rf.predict(X_train)
y_test_pred_rf = rf.predict(X_test)

# Compute metrics
train_rmse_rf = np.sqrt(mean_squared_error(y_train, y_train_pred_rf))
test_rmse_rf = np.sqrt(mean_squared_error(y_test, y_test_pred_rf))
test_mae_rf = mean_absolute_error(y_test, y_test_pred_rf)

# Add to previous results
results.append(["Random Forest", train_rmse_rf, test_rmse_rf, test_mae_rf])

# Make final comparison table
comparison = pd.DataFrame(results, columns=["Model", "Train RMSE", "Test RMSE", "Test MAE"])
comparison

               Model    Train RMSE     Test RMSE      Test MAE
0  Linear Regression  68433.937367  70060.521845  50670.738241
1   Ridge Regression  68433.944757  70057.416870  50668.122931
2      Decision Tree      0.000000  69755.779954  44180.854409
3      Random Forest  18118.414098  49038.209338  31639.373406

## Model Comparison  Bias & Variance Analysis

Linear Regression and Ridge Regression show **underfitting (high bias)** because their training and testing RMSE values are almost equal and relatively high. These models assume linear relationships and fail to capture the complex non-linear patterns in the data.

The Decision Tree model shows **overfitting (high variance)** as it achieves zero training RMSE but much higher test RMSE, meaning it memorizes training data and does not generalize well.

Random Forest reduces overfitting by averaging predictions from multiple decision trees. This results in significantly lower test RMSE and MAE compared to a single Decision Tree.

Real-world machine learning challenges such as **non-linear relationships, noisy features, and outliers** affect model performance. Ensemble methods and regularization help address these issues.